USE [master]
GO
/****** Object:  Database [snkrkorea]    Script Date: 3/5/2018 7:22:54 PM ******/
CREATE DATABASE [snkrkorea] ON  PRIMARY 
( NAME = N'snkrkorea', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\snkrkorea.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'snkrkorea_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\snkrkorea_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [snkrkorea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [snkrkorea]
GO
USE [snkrkorea]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	

GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](150) NULL,
	[parentId] [int] NULL,
 CONSTRAINT [PK_tbl_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_color]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_color](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_color] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_comment]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_comment](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[commentContent] [nvarchar](max) NOT NULL,
	[time] [datetime] NULL,
	[parentId] [int] NULL,
	[productId] [int] NULL,
	[postId] [int] NULL,
	[authorId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_deal]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_deal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dealContent] [nvarchar](50) NULL,
	[startTime] [datetime] NOT NULL,
	[duration] [int] NOT NULL,
 CONSTRAINT [PK_tbl_deal] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_image]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_image](
	[imageId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[postId] [int] NULL,
	[url] [varchar](255) NOT NULL,
 CONSTRAINT [PK_tbl_image] PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_order]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order](
	[id] [int] IDENTITY(99999,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[totalPrice] [money] NOT NULL,
	[status] [int] NOT NULL,
	[userId] [varchar](50) NOT NULL,
	[guestId] [int] NULL,
	[approveder_id] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_order_status]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order_status](
	[order_statusId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_order_status] PRIMARY KEY CLUSTERED 
(
	[order_statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_order_voucher]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order_voucher](
	[voucherId] [varchar](50) NOT NULL,
	[orderId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_order_voucher] PRIMARY KEY CLUSTERED 
(
	[voucherId] ASC,
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_orderdetail]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_orderdetail](
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tbl_orderdetail] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post](
	[postId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[postContent] [nvarchar](max) NULL,
	[timePost] [datetime] NOT NULL,
	[userId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_post] PRIMARY KEY CLUSTERED 
(
	[postId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product](
	[productId] [int] IDENTITY(99999,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[brand] [nvarchar](50) NULL,
	[price] [float] NOT NULL,
	[country] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[material] [nvarchar](50) NULL,
	[categoryID] [int] NULL,
	[quantity] [int] NULL,
	[lastModified] [datetime] NULL,
	[tag] [nvarchar](250) NULL,
 CONSTRAINT [PK_tbl_product] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product_color]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product_color](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[color] [int] NULL,
 CONSTRAINT [PK_tbl_product_color] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product_deal]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product_deal](
	[dealId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[type] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_product_deal] PRIMARY KEY CLUSTERED 
(
	[dealId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product_size]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product_size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[size] [int] NULL,
 CONSTRAINT [PK_tbl_product_size] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_rating]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rating](
	[productId] [int] NOT NULL,
	[rate] [int] NOT NULL,
	[userId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_rating] PRIMARY KEY CLUSTERED 
(
	[productId] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_role]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_role](
	[roleid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_role] PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_size]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_size] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[userId] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[address] [nchar](250) NULL,
	[phone] [varchar](15) NULL,
	[gender] [int] NULL,
	[role] [int] NOT NULL,
	[date_reg] [datetime] NULL,
	[expired] [bit] NULL,
 CONSTRAINT [PK_tbl_user] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_voucher]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_voucher](
	[voucherId] [varchar](50) NOT NULL,
	[type] [bit] NOT NULL,
	[discount] [int] NOT NULL,
	[description] [nvarchar](250) NULL,
	[startTime] [datetime] NOT NULL,
	[duration] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tbl_voucher] PRIMARY KEY CLUSTERED 
(
	[voucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_voucher_product]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_voucher_product](
	[voucherId] [varchar](50) NOT NULL,
	[productId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_voucher_product] PRIMARY KEY CLUSTERED 
(
	[voucherId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ListProductWithDeal]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListProductWithDeal]
AS
SELECT        dbo.tbl_product.name, dbo.tbl_product.price, dbo.tbl_product_deal.discount, dbo.tbl_product_deal.type, dbo.tbl_product.productId
FROM            dbo.tbl_product INNER JOIN
                         dbo.tbl_product_deal ON dbo.tbl_product.productId = dbo.tbl_product_deal.productId INNER JOIN
                         dbo.tbl_deal ON dbo.tbl_product_deal.dealId = dbo.tbl_deal.id
WHERE        (GETDATE() > dbo.tbl_deal.startTime) AND (GETDATE() < DATEADD(hour, dbo.tbl_deal.duration, dbo.tbl_deal.startTime))

GO
/****** Object:  View [dbo].[ListProductWithImage]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListProductWithImage]
AS
SELECT        dbo.tbl_product.productId, dbo.tbl_product.name, dbo.tbl_product.price, dbo.tbl_product.quantity, dbo.tbl_image.url
FROM            dbo.tbl_image RIGHT OUTER JOIN
                         dbo.tbl_product ON dbo.tbl_image.productId = dbo.tbl_product.productId

GO
/****** Object:  View [dbo].[ListProductItem]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListProductItem]
AS
SELECT        TOP (100) PERCENT t3.productId, t3.name, t3.price, t3.url, v1.discount, v1.type, t3.lastModified, t3.categoryID, t3.tag
FROM            (SELECT        t1.productId, t1.url, t2.name, t2.price, t2.lastModified, t2.categoryID, t2.tag
                          FROM            (SELECT        productId, MAX(url) AS url
                                                    FROM            dbo.ListProductWithImage
                                                    GROUP BY productId) AS t1 INNER JOIN
                                                    dbo.tbl_product AS t2 ON t1.productId = t2.productId) AS t3 LEFT OUTER JOIN
                         dbo.ListProductWithDeal AS v1 ON t3.productId = v1.productId

GO
/****** Object:  View [dbo].[ListAllComment]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListAllComment]
AS
SELECT        dbo.tbl_user.fullname, dbo.tbl_comment.title, dbo.tbl_comment.commentContent, dbo.tbl_comment.time, dbo.tbl_comment.productId, dbo.tbl_comment.postId, dbo.tbl_comment.parentId, dbo.tbl_comment.id, 
                         dbo.tbl_comment.authorId
FROM            dbo.tbl_comment INNER JOIN
                         dbo.tbl_user ON dbo.tbl_comment.authorId = dbo.tbl_user.userId

GO
/****** Object:  View [dbo].[ListAllPost]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListAllPost]
AS
SELECT        dbo.tbl_post.postId, dbo.tbl_post.title, dbo.tbl_post.timePost, dbo.tbl_user.fullname
FROM            dbo.tbl_post INNER JOIN
                         dbo.tbl_user ON dbo.tbl_post.userId = dbo.tbl_user.userId



GO
/****** Object:  View [dbo].[ListAllUser]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListAllUser]
AS
SELECT        dbo.tbl_role.name, dbo.tbl_user.userId, dbo.tbl_user.email, dbo.tbl_user.fullname, dbo.tbl_user.phone, dbo.tbl_user.gender
FROM            dbo.tbl_role INNER JOIN
                         dbo.tbl_user ON dbo.tbl_role.roleid = dbo.tbl_user.role



GO
/****** Object:  View [dbo].[ListOrderWithVoucher]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListOrderWithVoucher]
AS
SELECT        dbo.tbl_order.id, dbo.tbl_order.userId, dbo.tbl_order.date, dbo.tbl_order.totalPrice, dbo.tbl_voucher.discount, dbo.tbl_voucher.voucherId, dbo.tbl_order.status, dbo.tbl_order.approveder_id
FROM            dbo.tbl_order INNER JOIN
                         dbo.tbl_order_status ON dbo.tbl_order.status = dbo.tbl_order_status.order_statusId INNER JOIN
                         dbo.tbl_order_voucher ON dbo.tbl_order.id = dbo.tbl_order_voucher.orderId INNER JOIN
                         dbo.tbl_voucher ON dbo.tbl_order_voucher.voucherId = dbo.tbl_voucher.voucherId



GO
/****** Object:  View [dbo].[ListProductWithFirstImage]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListProductWithFirstImage]
AS
SELECT        dbo.tbl_product.productId, dbo.tbl_product.name, dbo.tbl_product.price, dbo.tbl_product.quantity, dbo.tbl_image.url
FROM            dbo.tbl_image INNER JOIN
                         dbo.tbl_product ON dbo.tbl_image.productId = dbo.tbl_product.productId

GO
/****** Object:  View [dbo].[ProductColor]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductColor]
AS
SELECT        dbo.tbl_product_color.productId, dbo.tbl_product_color.color AS colorId, dbo.tbl_color.name AS colorName
FROM            dbo.tbl_color INNER JOIN
                         dbo.tbl_product_color ON dbo.tbl_color.id = dbo.tbl_product_color.color

GO
/****** Object:  View [dbo].[ProductDetail]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductDetail]
AS
SELECT        dbo.tbl_product.productId, dbo.tbl_product.name, dbo.tbl_product.brand, dbo.tbl_product.country, dbo.tbl_product.description, dbo.tbl_product.material, dbo.tbl_product.quantity, dbo.tbl_product_deal.discount, 
                         dbo.tbl_product_deal.type, dbo.tbl_deal.startTime, dbo.tbl_deal.duration, dbo.tbl_product.price
FROM            dbo.tbl_deal INNER JOIN
                         dbo.tbl_product_deal ON dbo.tbl_deal.id = dbo.tbl_product_deal.dealId INNER JOIN
                         dbo.tbl_product ON dbo.tbl_product_deal.productId = dbo.tbl_product.productId
WHERE        (GETDATE() >= dbo.tbl_deal.startTime) AND (GETDATE() < DATEADD(hour, dbo.tbl_deal.duration, dbo.tbl_deal.startTime))

GO
/****** Object:  View [dbo].[ProductSize]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductSize]
AS
SELECT        dbo.tbl_product_size.productId, dbo.tbl_product_size.size AS sizeId, dbo.tbl_size.name AS sizeName
FROM            dbo.tbl_product_size INNER JOIN
                         dbo.tbl_size ON dbo.tbl_product_size.size = dbo.tbl_size.id

GO
/****** Object:  View [dbo].[View_AllOrder]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AllOrder]
AS
SELECT        id, date, totalPrice, status, userId, guestId, approveder_id
FROM            dbo.tbl_order


GO
/****** Object:  View [dbo].[View_AllProduct]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AllProduct]
AS
SELECT        dbo.tbl_product.*
FROM            dbo.tbl_product


GO
/****** Object:  View [dbo].[View_GetAllRole]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_GetAllRole]
AS
SELECT        name
FROM            dbo.tbl_role


GO
/****** Object:  View [dbo].[View_OrderNotApproved]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_OrderNotApproved]
AS
SELECT        id, date, totalPrice, status, userId, guestId, approveder_id
FROM            dbo.tbl_order
WHERE        (status = 0)


GO
/****** Object:  View [dbo].[View_ProductSale]    Script Date: 3/5/2018 7:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_ProductSale]
AS
SELECT        dbo.tbl_product.productId, dbo.tbl_product.name, dbo.tbl_product.brand, dbo.tbl_product.price, dbo.tbl_product.country, dbo.tbl_product.description, dbo.tbl_product.material, dbo.tbl_product.categoryID, 
                         dbo.tbl_product.quantity, dbo.tbl_product_deal.discount, dbo.tbl_product_deal.type, dbo.tbl_deal.startTime, dbo.tbl_deal.duration
FROM            dbo.tbl_deal INNER JOIN
                         dbo.tbl_product_deal ON dbo.tbl_deal.id = dbo.tbl_product_deal.dealId INNER JOIN
                         dbo.tbl_product ON dbo.tbl_product_deal.productId = dbo.tbl_product.productId AND dbo.tbl_product_deal.productId = dbo.tbl_product.productId



GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET IDENTITY_INSERT [dbo].[tbl_category] ON 

INSERT [dbo].[tbl_category] ([id], [name], [description], [parentId]) VALUES (1, N'áo', NULL, NULL)
INSERT [dbo].[tbl_category] ([id], [name], [description], [parentId]) VALUES (2, N'váy', NULL, NULL)
INSERT [dbo].[tbl_category] ([id], [name], [description], [parentId]) VALUES (3, N'áo dài', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_category] OFF
SET IDENTITY_INSERT [dbo].[tbl_color] ON 

INSERT [dbo].[tbl_color] ([id], [name]) VALUES (1, N'Đỏ')
INSERT [dbo].[tbl_color] ([id], [name]) VALUES (2, N'Xanh dương')
INSERT [dbo].[tbl_color] ([id], [name]) VALUES (3, N'Vàng')
SET IDENTITY_INSERT [dbo].[tbl_color] OFF
SET IDENTITY_INSERT [dbo].[tbl_comment] ON 

INSERT [dbo].[tbl_comment] ([id], [title], [commentContent], [time], [parentId], [productId], [postId], [authorId]) VALUES (104, N'adfadf', N'afadfdaf', CAST(N'2018-02-28T09:59:22.960' AS DateTime), NULL, NULL, 1, N'ngoc')
SET IDENTITY_INSERT [dbo].[tbl_comment] OFF
SET IDENTITY_INSERT [dbo].[tbl_deal] ON 

INSERT [dbo].[tbl_deal] ([id], [dealContent], [startTime], [duration]) VALUES (1, N'Sale Tet Holliday', CAST(N'2018-02-28T00:00:00.000' AS DateTime), 72)
SET IDENTITY_INSERT [dbo].[tbl_deal] OFF
SET IDENTITY_INSERT [dbo].[tbl_image] ON 

INSERT [dbo].[tbl_image] ([imageId], [productId], [postId], [url]) VALUES (8, 99999, NULL, N'http://google.com.vn')
INSERT [dbo].[tbl_image] ([imageId], [productId], [postId], [url]) VALUES (9, NULL, 1, N'http://google.com.sg')
INSERT [dbo].[tbl_image] ([imageId], [productId], [postId], [url]) VALUES (10, 99999, NULL, N'google.com')
SET IDENTITY_INSERT [dbo].[tbl_image] OFF
SET IDENTITY_INSERT [dbo].[tbl_order_status] ON 

INSERT [dbo].[tbl_order_status] ([order_statusId], [name]) VALUES (1, N'not approve')
INSERT [dbo].[tbl_order_status] ([order_statusId], [name]) VALUES (2, N'approved')
INSERT [dbo].[tbl_order_status] ([order_statusId], [name]) VALUES (3, N'shipping')
SET IDENTITY_INSERT [dbo].[tbl_order_status] OFF
SET IDENTITY_INSERT [dbo].[tbl_post] ON 

INSERT [dbo].[tbl_post] ([postId], [title], [postContent], [timePost], [userId]) VALUES (1, N'testtest Post 1', N'aaaaaaaaaaaaaa', CAST(N'2018-02-14T00:00:00.000' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[tbl_post] OFF
SET IDENTITY_INSERT [dbo].[tbl_product] ON 

INSERT [dbo].[tbl_product] ([productId], [name], [brand], [price], [country], [description], [material], [categoryID], [quantity], [lastModified], [tag]) VALUES (99999, N'áo thun', N'yame', 70000, N'Việt Nam', N'áo làm bằng thun', N'thun', 1, 5, CAST(N'2018-02-28T00:00:00.000' AS DateTime), N'áo thun ngắn T-shirt ao thun ngan')
INSERT [dbo].[tbl_product] ([productId], [name], [brand], [price], [country], [description], [material], [categoryID], [quantity], [lastModified], [tag]) VALUES (100001, N'váy', N'yame', 120000, N'Việt Nam', N'váy dài', N'vải', 3, 10, CAST(N'2018-03-01T00:00:00.000' AS DateTime), N'váy skirt vay')
INSERT [dbo].[tbl_product] ([productId], [name], [brand], [price], [country], [description], [material], [categoryID], [quantity], [lastModified], [tag]) VALUES (100004, N'quần dài', N'hihi', 180000, N'America', N'quần tây', N'kaki', 5, 5, CAST(N'2018-03-02T00:00:00.000' AS DateTime), N'quần tây quan tay ')
SET IDENTITY_INSERT [dbo].[tbl_product] OFF
SET IDENTITY_INSERT [dbo].[tbl_product_color] ON 

INSERT [dbo].[tbl_product_color] ([id], [productId], [color]) VALUES (1, 99999, 1)
INSERT [dbo].[tbl_product_color] ([id], [productId], [color]) VALUES (2, 99999, 2)
INSERT [dbo].[tbl_product_color] ([id], [productId], [color]) VALUES (3, 99999, 4)
SET IDENTITY_INSERT [dbo].[tbl_product_color] OFF
INSERT [dbo].[tbl_product_deal] ([dealId], [productId], [discount], [type]) VALUES (1, 99999, 50000, 1)
INSERT [dbo].[tbl_product_deal] ([dealId], [productId], [discount], [type]) VALUES (1, 100004, 5, 0)
SET IDENTITY_INSERT [dbo].[tbl_product_size] ON 

INSERT [dbo].[tbl_product_size] ([id], [productId], [size]) VALUES (1, 99999, 1)
INSERT [dbo].[tbl_product_size] ([id], [productId], [size]) VALUES (2, 99999, 2)
INSERT [dbo].[tbl_product_size] ([id], [productId], [size]) VALUES (3, 99999, 3)
SET IDENTITY_INSERT [dbo].[tbl_product_size] OFF
SET IDENTITY_INSERT [dbo].[tbl_role] ON 

INSERT [dbo].[tbl_role] ([roleid], [name]) VALUES (1, N'admin')
INSERT [dbo].[tbl_role] ([roleid], [name]) VALUES (2, N'staff')
INSERT [dbo].[tbl_role] ([roleid], [name]) VALUES (3, N'user')
SET IDENTITY_INSERT [dbo].[tbl_role] OFF
SET IDENTITY_INSERT [dbo].[tbl_size] ON 

INSERT [dbo].[tbl_size] ([id], [name]) VALUES (1, N'S')
INSERT [dbo].[tbl_size] ([id], [name]) VALUES (2, N'M')
INSERT [dbo].[tbl_size] ([id], [name]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[tbl_size] OFF
INSERT [dbo].[tbl_user] ([userId], [password], [email], [fullname], [address], [phone], [gender], [role], [date_reg], [expired]) VALUES (N'admin', N'Admin2048', N'admin@admin', N'the admin', N'abc                                                                                                                                                                                                                                                       ', N'132465798', 1, 1, CAST(N'2018-02-05T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[tbl_user] ([userId], [password], [email], [fullname], [address], [phone], [gender], [role], [date_reg], [expired]) VALUES (N'ngoc', N'123', N'ngoc@com', N'ngoc nguyen', N'132acv                                                                                                                                                                                                                                                    ', N'123456', 1, 3, CAST(N'2018-02-15T06:48:50.240' AS DateTime), 0)
INSERT [dbo].[tbl_user] ([userId], [password], [email], [fullname], [address], [phone], [gender], [role], [date_reg], [expired]) VALUES (N'teststaff1', N'Teststaff1234', N'staff1@staff', N'the staff one', N'adfdsf                                                                                                                                                                                                                                                    ', N'21231321', 2, 2, CAST(N'2018-02-05T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[tbl_voucher] ([voucherId], [type], [discount], [description], [startTime], [duration], [quantity]) VALUES (N'DAN001', 1, 100000, N'Giảm giá trên cái loại áo thun', CAST(N'2018-02-28T00:00:00.000' AS DateTime), 48, 10)
INSERT [dbo].[tbl_voucher_product] ([voucherId], [productId]) VALUES (N'DAN001', 99999)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_principal_name]    Script Date: 3/5/2018 7:22:55 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_comment] ADD  CONSTRAINT [DF_tbl_comment_time]  DEFAULT (getdate()) FOR [time]
GO
ALTER TABLE [dbo].[tbl_product] ADD  CONSTRAINT [DF_tbl_product_lastModified]  DEFAULT (getdate()) FOR [lastModified]
GO
ALTER TABLE [dbo].[tbl_user] ADD  CONSTRAINT [DF_tbl_user_date_reg]  DEFAULT (getdate()) FOR [date_reg]
GO
ALTER TABLE [dbo].[tbl_user] ADD  CONSTRAINT [DF_tbl_user_expired]  DEFAULT ((0)) FOR [expired]
GO
ALTER TABLE [dbo].[tbl_category]  WITH CHECK ADD  CONSTRAINT [FK_tbl_category_tbl_category] FOREIGN KEY([parentId])
REFERENCES [dbo].[tbl_category] ([id])
GO
ALTER TABLE [dbo].[tbl_category] CHECK CONSTRAINT [FK_tbl_category_tbl_category]
GO
ALTER TABLE [dbo].[tbl_comment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_comment_tbl_comment] FOREIGN KEY([parentId])
REFERENCES [dbo].[tbl_comment] ([id])
GO
ALTER TABLE [dbo].[tbl_comment] CHECK CONSTRAINT [FK_tbl_comment_tbl_comment]
GO
ALTER TABLE [dbo].[tbl_comment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_comment_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_comment] CHECK CONSTRAINT [FK_tbl_comment_tbl_product]
GO
ALTER TABLE [dbo].[tbl_comment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_comment_tbl_user] FOREIGN KEY([authorId])
REFERENCES [dbo].[tbl_user] ([userId])
GO
ALTER TABLE [dbo].[tbl_comment] CHECK CONSTRAINT [FK_tbl_comment_tbl_user]
GO
ALTER TABLE [dbo].[tbl_image]  WITH CHECK ADD  CONSTRAINT [FK_tbl_image_tbl_post] FOREIGN KEY([postId])
REFERENCES [dbo].[tbl_post] ([postId])
GO
ALTER TABLE [dbo].[tbl_image] CHECK CONSTRAINT [FK_tbl_image_tbl_post]
GO
ALTER TABLE [dbo].[tbl_image]  WITH CHECK ADD  CONSTRAINT [FK_tbl_image_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_image] CHECK CONSTRAINT [FK_tbl_image_tbl_product]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_order_tbl_order_status] FOREIGN KEY([status])
REFERENCES [dbo].[tbl_order_status] ([order_statusId])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK_tbl_order_tbl_order_status]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_order_tbl_user] FOREIGN KEY([userId])
REFERENCES [dbo].[tbl_user] ([userId])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK_tbl_order_tbl_user]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_order_tbl_user1] FOREIGN KEY([approveder_id])
REFERENCES [dbo].[tbl_user] ([userId])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK_tbl_order_tbl_user1]
GO
ALTER TABLE [dbo].[tbl_order_voucher]  WITH CHECK ADD  CONSTRAINT [FK_tbl_order_voucher_tbl_order] FOREIGN KEY([orderId])
REFERENCES [dbo].[tbl_order] ([id])
GO
ALTER TABLE [dbo].[tbl_order_voucher] CHECK CONSTRAINT [FK_tbl_order_voucher_tbl_order]
GO
ALTER TABLE [dbo].[tbl_order_voucher]  WITH CHECK ADD  CONSTRAINT [FK_tbl_order_voucher_tbl_voucher] FOREIGN KEY([voucherId])
REFERENCES [dbo].[tbl_voucher] ([voucherId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_order_voucher] CHECK CONSTRAINT [FK_tbl_order_voucher_tbl_voucher]
GO
ALTER TABLE [dbo].[tbl_orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_orderdetail_tbl_order] FOREIGN KEY([orderId])
REFERENCES [dbo].[tbl_order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_orderdetail] CHECK CONSTRAINT [FK_tbl_orderdetail_tbl_order]
GO
ALTER TABLE [dbo].[tbl_orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_orderdetail_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_orderdetail] CHECK CONSTRAINT [FK_tbl_orderdetail_tbl_product]
GO
ALTER TABLE [dbo].[tbl_post]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_tbl_user] FOREIGN KEY([userId])
REFERENCES [dbo].[tbl_user] ([userId])
GO
ALTER TABLE [dbo].[tbl_post] CHECK CONSTRAINT [FK_tbl_post_tbl_user]
GO
ALTER TABLE [dbo].[tbl_product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_tbl_category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tbl_category] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbl_product] CHECK CONSTRAINT [FK_tbl_product_tbl_category]
GO
ALTER TABLE [dbo].[tbl_product_color]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_color_tbl_color] FOREIGN KEY([color])
REFERENCES [dbo].[tbl_color] ([id])
GO
ALTER TABLE [dbo].[tbl_product_color] CHECK CONSTRAINT [FK_tbl_product_color_tbl_color]
GO
ALTER TABLE [dbo].[tbl_product_color]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_color_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_product_color] CHECK CONSTRAINT [FK_tbl_product_color_tbl_product]
GO
ALTER TABLE [dbo].[tbl_product_deal]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_deal_tbl_deal] FOREIGN KEY([dealId])
REFERENCES [dbo].[tbl_deal] ([id])
GO
ALTER TABLE [dbo].[tbl_product_deal] CHECK CONSTRAINT [FK_tbl_product_deal_tbl_deal]
GO
ALTER TABLE [dbo].[tbl_product_deal]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_deal_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_product_deal] CHECK CONSTRAINT [FK_tbl_product_deal_tbl_product]
GO
ALTER TABLE [dbo].[tbl_product_size]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_size_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_product_size] CHECK CONSTRAINT [FK_tbl_product_size_tbl_product]
GO
ALTER TABLE [dbo].[tbl_product_size]  WITH CHECK ADD  CONSTRAINT [FK_tbl_product_size_tbl_size] FOREIGN KEY([size])
REFERENCES [dbo].[tbl_size] ([id])
GO
ALTER TABLE [dbo].[tbl_product_size] CHECK CONSTRAINT [FK_tbl_product_size_tbl_size]
GO
ALTER TABLE [dbo].[tbl_rating]  WITH CHECK ADD  CONSTRAINT [FK_tbl_rating_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_rating] CHECK CONSTRAINT [FK_tbl_rating_tbl_product]
GO
ALTER TABLE [dbo].[tbl_user]  WITH CHECK ADD  CONSTRAINT [FK_tbl_user_tbl_role] FOREIGN KEY([role])
REFERENCES [dbo].[tbl_role] ([roleid])
GO
ALTER TABLE [dbo].[tbl_user] CHECK CONSTRAINT [FK_tbl_user_tbl_role]
GO
ALTER TABLE [dbo].[tbl_voucher_product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_voucher_product_tbl_product] FOREIGN KEY([productId])
REFERENCES [dbo].[tbl_product] ([productId])
GO
ALTER TABLE [dbo].[tbl_voucher_product] CHECK CONSTRAINT [FK_tbl_voucher_product_tbl_product]
GO
ALTER TABLE [dbo].[tbl_voucher_product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_voucher_product_tbl_voucher] FOREIGN KEY([voucherId])
REFERENCES [dbo].[tbl_voucher] ([voucherId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_voucher_product] CHECK CONSTRAINT [FK_tbl_voucher_product_tbl_voucher]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory]
@Name varchar(50), @Description varchar(150), @ParentId int
AS
	INSERT INTO tbl_category(name,description,parentId)
	VALUES (@Name,@Description,@ParentId)

GO
/****** Object:  StoredProcedure [dbo].[AddCommentOFPost]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddCommentOFPost]
@Title nvarchar(50),
@Content nvarchar(MAX),
@PostId int, 
@AuthorId varchar(50)
AS
	INSERT INTO tbl_comment(title, commentContent, postId, time, authorId)
	VALUES (@Title, @Content, @PostId, GETDATE(), @AuthorId)

GO
/****** Object:  StoredProcedure [dbo].[AddCommentOFProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddCommentOFProduct]
@Title nvarchar(50),
@Content nvarchar(MAX),
@ProductId int, 
@AuthorId varchar(50)
AS
	INSERT INTO tbl_comment(title, commentContent, productId, time, authorId)
	VALUES (@Title, @Content, @ProductId, GETDATE(), @AuthorId)

GO
/****** Object:  StoredProcedure [dbo].[AddDeal]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDeal]
@DealContent nvarchar(50), @StartTime datetime, @Duration int,
@DealId int OUTPUT
AS
	INSERT INTO tbl_deal(dealContent,startTime,duration)
	VALUES (@DealContent,@StartTime,@Duration)
	SELECT @DealId = SCOPE_IDENTITY()
    SELECT @DealId AS id

GO
/****** Object:  StoredProcedure [dbo].[AddDealForProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddDealForProduct]
@DealId int,
@ProductId int,
@Discount int,
@Type bit
AS
	INSERT INTO tbl_product_deal(productId, discount, type)
	VALUES (@ProductId, @Discount, @Type)

GO
/****** Object:  StoredProcedure [dbo].[AddImageOfPost]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddImageOfPost]
@Url varchar(255),
@PostId int
AS
	INSERT INTO tbl_image(url, postId)
	VALUES (@Url, @PostId)

GO
/****** Object:  StoredProcedure [dbo].[AddImageOfProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddImageOfProduct]
@Url varchar(255),
@ProductId int
AS
	INSERT INTO tbl_image(url, productId)
	VALUES (@Url, @ProductId)

GO
/****** Object:  StoredProcedure [dbo].[AddOrder]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrder]
@TotalPrice money, 
@UserId varchar(50), 
@OrderId int OUTPUT
AS
	INSERT INTO tbl_order(date,totalPrice,status,userId)
	VALUES (GETDATE(), @TotalPrice, 1, @UserId) --------not approve --------------
	SELECT @OrderId = SCOPE_IDENTITY()
    SELECT @OrderId AS id

GO
/****** Object:  StoredProcedure [dbo].[AddOrderProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddOrderProduct]
@OrderId int,
@ProductId int,
@Quantity int
AS
	INSERT INTO tbl_orderDetail
	VALUES (@OrderId, @ProductId, @Quantity)
	--- reduce quantity of product
	UPDATE tbl_product
	SET quantity = quantity - @Quantity
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[AddPost]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddPost]
@Title nvarchar(50),
@Content nvarchar(MAX),
@UserId varchar(50)
AS
	INSERT INTO tbl_post(title, postContent, timePost, userId)
	VALUES(@Title, @Content, GETDATE(), @UserId)

GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
@Name nvarchar(50), 
@Brand nvarchar(50), 
@Price money, 
@Country nvarchar(50), 
@Description nvarchar(MAX),
@Material nvarchar(50), 
@CategoryId int, 
@Quantity int,
@Tag nvarchar(250)
AS
	INSERT INTO tbl_product(name,brand,price,country,description,material,categoryID,quantity,tag)
	VALUES (@Name,@Brand,@Price,@Country,@Description,@Material,@CategoryId,@Quantity, @Tag)

GO
/****** Object:  StoredProcedure [dbo].[AddProductOfVoucher]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddProductOfVoucher]
@Voucher varchar(50),
@ProductId int
AS
	INSERT INTO tbl_voucher_product(voucherId, productId)
	VALUES(@Voucher, @ProductId)

GO
/****** Object:  StoredProcedure [dbo].[AddProductVoucher]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProductVoucher]
@VoucherId varchar(50), @ProductId int
AS
	INSERT INTO tbl_voucher_product(voucherId,productId)
	VALUES (@VoucherId,@ProductId)

GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddUser]
@Username varchar(50),
@Password varchar(50),
@Fullname nvarchar(50),
@Phone varchar(15),
@Email varchar(250),
@Address nvarchar(250)
AS
	INSERT INTO tbl_user(userId, password, fullname, email, phone, address, role)
	VALUES (@Username, @Password, @Fullname, @Email, @Phone, @Address, 3)


GO
/****** Object:  StoredProcedure [dbo].[AddVoucherOrder]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddVoucherOrder]
@VoucherId varchar(50),
@OrderId int
AS
	INSERT INTO tbl_order_voucher
	VALUES(@VoucherId, @OrderId)
	--reduce quantity of voucher
	UPDATE tbl_voucher
	SET quantity = quantity - 1
	WHERE voucherId = @VoucherId


GO
/****** Object:  StoredProcedure [dbo].[CancelOrder]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CancelOrder]
@OrderId int
AS
	UPDATE tbl_order
	SET status =  5 --status Cancel -----
	WHERE id = @OrderId

GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangePassword]
@UserId varchar(50), @newPass varchar(50)
AS
	UPDATE [tbl_user]
	SET	[tbl_user].password = @newPass
	WHERE userId = @UserId

GO
/****** Object:  StoredProcedure [dbo].[ChangeProductDiscount]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ChangeProductDiscount]
@DealId int,
@ProductId int,
@Discount int,
@Type bit
AS
	UPDATE tbl_product_deal
	SET discount = @Discount, type = @Type
	WHERE productId = @ProductId AND dealId = @DealId

GO
/****** Object:  StoredProcedure [dbo].[ChangeRole]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ChangeRole]
@UserId varchar(50),
@Role int
AS
	UPDATE tbl_user
	SET role = @Role
	WHERE role = @Role

GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckLogin]
@Role int OUTPUT,
@UserName varchar(50), @Password varchar(50)
AS
	BEGIN
		IF EXISTS (		SELECT *	FROM [tbl_user] WHERE tbl_user.userId = @UserName AND tbl_user.password=@Password	)
			SET @Role =  (		SELECT role	FROM [tbl_user] WHERE tbl_user.userId = @UserName AND tbl_user.password=@Password	);
		ELSE
			SET @Role = 0;
	END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteCategory]
@CategoryId int
AS
	DELETE 
	FROM tbl_category
	WHERE id = @CategoryId

GO
/****** Object:  StoredProcedure [dbo].[DeleteComment]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteComment]
@CoId int
AS
	DELETE
	FROM tbl_comment
	WHERE parentId = @CoId

	DELETE
	FROM [tbl_comment]
	WHERE id = @CoId

GO
/****** Object:  StoredProcedure [dbo].[DeleteDeal]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDeal]
@Id int
AS
	DELETE
	FROM [tbl_deal]
	WHERE tbl_deal.id = @Id

GO
/****** Object:  StoredProcedure [dbo].[DeleteImage]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteImage]
@ImageId int
AS
	DELETE 
	FROM [tbl_image]
	WHERE imageId = @ImageId

GO
/****** Object:  StoredProcedure [dbo].[DeleteOrder]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrder]
@Id int
AS
	select *
	FROM tbl_order
	WHERE id = @Id

GO
/****** Object:  StoredProcedure [dbo].[DeletePost]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePost]
@Id int
AS
	DELETE 
	FROM [tbl_post]
	WHERE postId = @Id

GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteProduct]
@ProductId int
AS
	DELETE 
	FROM tbl_product
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[DeleteProductDeal]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProductDeal]
@Id int, @ProductId int
AS
	DELETE
	FROM tbl_product_deal
	WHERE tbl_product_deal.dealId = @Id AND tbl_product_deal.productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[DeleteVoucher]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteVoucher]
@VoucherId int
AS
	DELETE 
	FROM tbl_voucher
	WHERE voucherId = @VoucherId

GO
/****** Object:  StoredProcedure [dbo].[ExpiredUser]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ExpiredUser]
@UserId varchar(50)
AS
	UPDATE tbl_user
	SET expired = 1
	WHERE userId = @UserId AND expired = 0

GO
/****** Object:  StoredProcedure [dbo].[GetAllCategory]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllCategory]
AS
	SELECT id, name
	FROM tbl_category
	ORDER BY name ASC

GO
/****** Object:  StoredProcedure [dbo].[GetAllDeal]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllDeal]
AS
	Select *
	From tbl_deal

G
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductForUser]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllProductForUser]
AS
	 select *
 from ListProductItem
 order by lastModified desc

GO
/****** Object:  StoredProcedure [dbo].[GetAllVoucher]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllVoucher]
AS
	SELECT *
	FROM tbl_voucher

GO
/****** Object:  StoredProcedure [dbo].[GetCommentOfComment]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCommentOfComment]
@CoId int
AS
	SELECT *
	FROM [tbl_comment]
	WHERE parentId = @CoId

GO
/****** Object:  StoredProcedure [dbo].[GetDetailOfOrder]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetDetailOfOrder]
@OrderId int,
@Username varchar(50)
AS
	SELECT *
	FROM ListOrderWithVoucher
	WHERE id = @OrderId AND userId = @Username

GO
/****** Object:  StoredProcedure [dbo].[GetFirstImageOfProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetFirstImageOfProduct]
@ProductId int
AS
	SELECT TOP 1 url
	FROM tbl_image
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[GetHistoryOrderOfUser]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetHistoryOrderOfUser]
@Username varchar(50)
AS
	SELECT *
	FROM ListOrderWithVoucher
	WHERE userId = @Username
	ORDER BY date DESC

GO
/****** Object:  StoredProcedure [dbo].[GetImageOfPost]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetImageOfPost]
@postId int
AS
	SELECT url
	FROM [tbl_image]
	WHERE postId = @postId

GO
/****** Object:  StoredProcedure [dbo].[GetImageOfProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetImageOfProduct]
@ProductId int
AS
		SELECT imageId, url
		FROM tbl_image
		WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[GetListProductInOrder]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetListProductInOrder]
@OderId int
AS
	SELECT *
	FROM ProductInOrder
	WHERE orderId = @OderId

GO
/****** Object:  StoredProcedure [dbo].[GetPostById]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPostById]
@Id int
AS
	SELECT * 
	FROM [tbl_post]
	WHERE postId = @Id

GO
/****** Object:  StoredProcedure [dbo].[GetPostComment]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPostComment]
@PostId int
AS
	SELECT *
	FROM [tbl_comment]
	WHERE postId = @PostId

GO
/****** Object:  StoredProcedure [dbo].[GetProductColor]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProductColor]
@ProductId int
AS
	SELECT *
	FROM ProductColor
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[GetProductComment]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProductComment]
@ProductId int
AS
	SELECT *
	FROM ListAllComment
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[GetProductDetail]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProductDetail]
@ProductId int
AS
	SELECT *
	FROM ProductDetail
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[GetProductOfDeal]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductOfDeal]
@DealId int
AS
	SELECT *
	FROM [tbl_product_deal]
	WHERE tbl_product_deal.dealId = @DealId

GO
/****** Object:  StoredProcedure [dbo].[GetProductSize]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetProductSize]
@ProductId int
AS
	SELECT *
	FROM ProductSize
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[GetProductsSortByDiscount]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProductsSortByDiscount]
AS
	SELECT *
	FROM ListProductWithDeal
	ORDER BY discount DESC

GO
/****** Object:  StoredProcedure [dbo].[GetUserByName]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByName]
@FullName nvarchar(50)
AS
	SELECT *
	FROM [tbl_user]
	WHERE tbl_user.fullname like @FullName

GO
/****** Object:  StoredProcedure [dbo].[GetUserByRole]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUserByRole]
@Role int
AS
	SELECT *
	FROM tbl_user
	WHERE role = @Role

GO
/****** Object:  StoredProcedure [dbo].[GetUserByUsername]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUserByUsername]
@Username varchar(50)
AS
	SELECT *
	FROM tbl_user
	WHERE userId = @Username

GO
/****** Object:  StoredProcedure [dbo].[IsDealAlive]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsDealAlive]
@IsLive int OUTPUT,
@Id int
AS
	BEGIN
		IF EXISTS (		SELECT *	FROM [tbl_deal] WHERE tbl_deal.id = @Id	)
			SET @IsLive =  (		SELECT DATEDIFF(hour, DATEADD(hour, tbl_deal.duration, tbl_deal.startTime), GETDATE())
									FROM [tbl_deal] WHERE tbl_deal.id = @Id );
		ELSE
			SET @IsLive = -999;
	END

GO
/****** Object:  StoredProcedure [dbo].[ProductListByCategory]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProductListByCategory]
@CategoryId int
AS
SELECT *
FROM ListProductItem
WHERE categoryId = @CategoryId

GO
/****** Object:  StoredProcedure [dbo].[ReplyComment]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReplyComment] --Reply ko có title
@Content nvarchar(MAX), 
@ParentId int,
@AuthorId varchar(50)
AS
	INSERT INTO tbl_comment(commentContent, parentId, time, authorId)
	VALUES ( @Content, @ParentId, GETDATE(), @AuthorId)

GO
/****** Object:  StoredProcedure [dbo].[SearchProductByName]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SearchProductByName]
@SearchValue nvarchar(250)
AS
	SELECT *
	FROM ListProductItem
	WHERE ListProductItem.tag like @SearchValue

	
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	

GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	

GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	

GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	

GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	

GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	

GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	

GO
/****** Object:  StoredProcedure [dbo].[UpdateCategory]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCategory]
@Id int, @Name varchar(50), @Description varchar(150), @ParentId int
AS
	UPDATE dbo.tbl_category
	SET dbo.tbl_category.name=@Name,
		dbo.tbl_category.description=@Description,
		dbo.tbl_category.parentId=@ParentId
	WHERE dbo.tbl_category.id=@Id

GO
/****** Object:  StoredProcedure [dbo].[UpdateComment]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateComment]
@CoId int, @Title nvarchar(50), @Content nvarchar(MAX)
AS
	UPDATE [tbl_comment]
	SET	tbl_comment.title = @Title, tbl_comment.commentContent = @Content ,  tbl_comment.time=GETDATE()
	WHERE id = @CoId

GO
/****** Object:  StoredProcedure [dbo].[UpdateDealInformation]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateDealInformation]
@DealId int,
@Content nvarchar(50),
@StartTime datetime,
@Duration int
AS
	UPDATE tbl_deal
	SET dealContent = @Content, startTime = @StartTime, duration = @Duration
	WHERE id = @DealId

GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatus]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOrderStatus]
@Status int, @Id int
AS
	UPDATE [tbl_order]
	SET	tbl_order.status = @Status
	WHERE tbl_order.id = @Id

GO
/****** Object:  StoredProcedure [dbo].[UpdatePost]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdatePost]
@Title nvarchar(50),
@Content nvarchar(MAX),
@PostId int
AS
	UPDATE tbl_post
	SET title = @Title, postContent = @Content
	WHERE postId = @PostId

GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProduct]
@Id int, @Name nvarchar(50), @Brand nvarchar(50), @Price money, @Country nvarchar(50), @Description nvarchar(MAX),
@Material nvarchar(50), @CategoryId int, @Quantity int, @Tag nvarchar(250)
AS
	UPDATE [tbl_product]
	SET	tbl_product.name = @Name, tbl_product.brand = @Brand, tbl_product.country = @Country, tbl_product.price = @Price, 
		tbl_product.description = @Description, tbl_product.material = @Material, tbl_product.categoryID = @CategoryId, tbl_product.quantity = @Quantity,tag=@Tag
	WHERE tbl_product.productId = @Id

GO
/****** Object:  StoredProcedure [dbo].[UpdateProfile]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateProfile]
@UserId varchar(50),
@Password varchar(50),
@Email varchar(250),
@Fullname varchar(50),
@Address nvarchar(250),
@Phone varchar(15),
@Gender int, 
@Role int
AS
	UPDATE tbl_user
	SET email = @Email, 
		phone = @Phone, 
		fullname = @Fullname, 
		address = @Address, 
		gender = @Gender
	WHERE userId = @UserId

GO
/****** Object:  StoredProcedure [dbo].[UpdateQuantityProduct]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateQuantityProduct]
@ProductId int,
@Quantity int
AS
	UPDATE tbl_product
	SET quantity = @Quantity
	WHERE productId = @ProductId

GO
/****** Object:  StoredProcedure [dbo].[UpdateVoucher]    Script Date: 3/5/2018 7:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateVoucher]
@Id int, @type bit, @discount int, @description nvarchar(250), 
@startTime datetime, @duration int, @amount int
AS
	UPDATE dbo.tbl_voucher
	SET	dbo.tbl_voucher.type = @type, dbo.tbl_voucher.discount = @discount, dbo.tbl_voucher.description = @description,
		dbo.tbl_voucher.startTime = @startTime, dbo.tbl_voucher.duration = @duration, dbo.tbl_voucher.amount =@amount
	WHERE dbo.tbl_voucher.voucherId = @Id

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[14] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_comment"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "tbl_user"
            Begin Extent = 
               Top = 6
               Left = 260
               Bottom = 136
               Right = 430
            End
            DisplayFlags = 280
            TopColumn = 6
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListAllComment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListAllComment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[18] 4[29] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -192
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v1"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t3"
            Begin Extent = 
               Top = 198
               Left = 38
               Bottom = 328
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductItem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductItem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[25] 4[23] 2[32] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_product_deal"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_deal"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 268
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_product"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductWithDeal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductWithDeal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[31] 4[31] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_image"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_product"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductWithFirstImage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductWithFirstImage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[31] 4[31] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_image"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_product"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductWithImage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ListProductWithImage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_color"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_product_color"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductColor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductColor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[25] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_deal"
            Begin Extent = 
               Top = 147
               Left = 245
               Bottom = 277
               Right = 415
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_product"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tbl_product_deal"
            Begin Extent = 
               Top = 43
               Left = 19
               Bottom = 173
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_product_size"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_size"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 102
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductSize'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductSize'
GO
USE [master]
GO
